.header {
    background: #000;
  }
  
  .header .container {
    display: flex;
    padding: 50px 0;
  }
  
  .header-aside {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .conta {
    display: flex;
    text-transform: uppercase;
    align-items: center;
  }
  
  #searchbutton {
    background: #ddb862;
    border: none;
    outline: none;
    width: 37px;
    height: 37px;
  }
  
  .campo-busca {
    height: 37px;
    width: 300px;
    border: none;
    outline: none;
    padding: 0px 10px;
  }
  
  .form-busca {
    display: flex;
  }
  
  .minha-conta {
    color: #fff;
    margin: 0px 40px;
  }
  
  .carrinho {
    position: relative;
  }
  
  .carrinho-count {
    position: absolute;
    right: -5px;
    bottom: -5px;
    text-align: center;
    background: #ddb862;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    color: #000;
  }
  
  .menu-categorias {
    background: #fff;
    padding: 20px 0;
  }
  
  .menu-categorias a {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menu-categorias ul {
    display: flex;
    max-width: 1204px;
    margin: 0 auto;
  }
  
  .menu-categorias ul li {
    margin-right: 40px;
  }